/*  your css code here. If applicable */

.middle{
	border:1px solid black;
	spacing:1px;
	padding:1px;
}
td{
	border:1px solid black;
}

.t3-clr{
	margin-top:10px;
	background:green;
}
.t4-clr{
	background:blue;
}
#t12{
	display:flex;
	justify-contend:center;
}